<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="RestAssuredApiTest">
	<listeners>
		<listener class-name="com.restapi.restassured.utilities.Listeners" />
	</listeners>
	<test thread-count="2" name="RestAssuredApiEmployeeTests">
		<classes>
			<class name="com.restapi.restassured.tests.TC_001_GET_All_Employees" />
			<class name="com.restapi.restassured.tests.TC_002_POST_Employee" />
		</classes>

	</test>
</suite>

